ul{
  width:1120px;height:100px;
  text-align: center;
  line-height: 100px;
}
/*标题*/
.title{
justify-content:space-around;
list-style: none;
}
/*产品列表*/
.count{
  margin-left:70px;
  margin-right:110px;
}
.myimg{
  width:80px;height:80px;
  margin-right:80px;
}
.price{
  display: inline;
  margin-left:90px;
}
.myspan{
  margin-right:75px;
}
button{
  width:30px;height:30px;
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button.mybtn{
  
  width:60px;height:40px;
}