.my_wide{
    width:4%;
    height:12%;
    margin-top: 15%;
    margin-left:0;
    background:#d6d8db;
}
.carousel-indicators li{
    width:10px;
    height:10px;
    border-radius: 50%;
    margin-bottom: 2px;
    background:#6c757d;
}
ul.carousel-indicators{
    margin:0 5px 5px;
}
.carousel-indicators li:hover{
    background-color: #dc3545;
}
.my_a{
    transition:transform 1s;
}
.my_a:hover{
    transform: scale(1.1);
}
img.my_w{
    height:230px;
    width:100%;
}
@media screen and (min-width:992px){
    .my_w1{width:100%;
    height:379px;
        padding:15px;
    }
    .my_w{
        width: 100%;
        height: 230px;
        
    }
    .w1{
        width:100%;
        height:33.3%;
    }
}
@media screen and (max-width:991px) and (min-width:768px) {
    .my_w1 {
        width: 100%;
        height: 280px;
        padding:15px;
    }
    .my_w{
        width: 100%;
        height: 230px;
        
    }
    .w1{
        width:100%;
        height:40%;
    }
}
    @media screen and (max-width:767px){
        .my_w1{
            width: 100%;
            height: 389px;
            padding:15px;
        }
        .my_w{
        width: 100%;
        height: 270px;
        
    }
        .w1{
            width:100%;
            height:33.3%;
        }
    }
.my_btn_w{
    width:150px;
    height:40px;
}
#demo1 .carousel-control-prev,#demo1 .carousel-control-next{
    width:8%;
    height:15%;
    margin-top:30%;
    margin-left: 0;
    background:#d6d8db;
    border-radius:5px;
}
.carousel-control-next{
    margin-right:0;
}
.my_footer_w{
    width:20%;
    height:20%;
}

.my_w1:hover{
    box-shadow:#ddd 1px 1px 1px 1px;
}

.my_w1{
transition:all 1s ease-out 0s;
display: block;
}
.my_w1>div{
    width:95%;height:70%;
	overflow:hidden;
    margin-left:2%;
	margin-top:3%;
}
img.my_w{
/*height:230px;width:100%;*/
transition:all 1s ease-out 0s;
}
.my_w1:hover img.my_w{  
    transform: scale(1.1);
    border-radius: 5px;
}
carousel-indicators .my-t{
    margin-top:80%;
}


 

