 /*放大镜*/
#float{
    width:200px;
    height:200px;
    position: absolute;    
    background:#ddd;
    background-size:cover;
    border: 1px solid #ccc;
    opacity:.5;
    z-index:2;
    cursor:move;
    visibility:hidden;
    top:0;left:0;
  }
    #super-mask{
    position: absolute;  
    /*left:460px;*/
    width: 400px;
    height: 400px;
    z-index:3;
    top:0;left:0;
  }
 #smallimg{
      position: relative;
      width:400px;
      height:400px;
      top:30px;
      border:1px solid #ddd;
      z-index:1;
      background-repeat: no-repeat !important;
      background-size:100% 100% !important;
      display:block;
    }
#big{
        width:450px;
        height:450px;
        position: absolute;
        left:430px;
        top:30px;
        overflow: hidden;
         z-index:1;
         display:none;
    }
  #divlg{
    position: absolute;
    z-index:2;
    width:700px;
    height:700px;
  }
/*购物车*/
button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width:140px;height:50px;
}
    .my_btn1{
      background-image: url("../../img/product_detail_img7.png");
      background-repeat:no-repeat;
      text-align: center;
      background-position:15px center;
    }
    .my_btn2{
      background-image: url("../../img/product_detail_img6.png");
      background-repeat:no-repeat;
      background-position: center 5px;
      padding-top:10px;
    }
.my_font1{
    font-size: 32px;
    font-weight: bold;
}
.my_w4{
    width:60px;
    height:60px;
}
a.item1::before{
    content:"<";
    color:#d6d8db;
    font-size:32px;
}
a.item3::before{
    content:">";
    color:#d6d8db;
    font-size:32px;
}
.my_w2{
    width:60px;
    height:60px;
    border:2px solid #007bff;
}
.my_font2:hover{
    text-decoration: none;
    color:#fdfdfe;
    margin-left:0px;
}
.my_w5{
    margin-left:280px;
}
#min,#add,input.bg-white{
    width:40px;height:40px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    border:1px solid #ddd;
    background-color:#ddd;
}
