@media screen and (min-width:992px){
    .my_w3{
    width:100%;
    height:400px;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
    .my_w3{
    width:100%;
    height:300px;
  }
}
@media screen and (max-width:767px){
    .my_w3{
    width:100%;
    height:400px;
  }
}
.my_font1{
    font-size: 32px;
    font-weight: bold;
}
.my_w4{
    width:60px;
    height:60px;
}
a.item1::before{
    content:"<";
    color:#d6d8db;
    font-size:32px;
}
a.item3::before{
    content:">";
    color:#d6d8db;
    font-size:32px;
}
.my_w2{
    width:60px;
    height:60px;
    border:2px solid #007bff;
}
.my_font2:hover{
    text-decoration: none;
    color:#fdfdfe;
    margin-left:0px;
}
.my_w5{
    margin-left:280px;
}
#min,#add,input.bg-white{
    width:40px;height:40px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    border:1px solid #ddd;
    background-color:#ddd;
}
