/*放大镜*/
#main{
    position:relative;
  width:400px;height:400px;
  background:url('../../img/road_details-1.png') no-repeat;
  background-size:cover;
  z-index:1;
}
#mask{
  width:150px;height:150px;
  position:absolute;
  z-index:2;
  background-color:#ddd;
  opacity: 0.3;
}
#smask{
  position:absolute;
  width:400px;height:400px;
  z-index:3;
}
img.my_w3{
    position:absolute;
    /*left:450px;top:0;*/
    width:800px;height:800px;
    z-index:999;
}
#big{
    position:absolute;
    left:430px;top:0;
    overflow:hidden;
    width:500px;height:500px;
    z-index: 1
    }
/*购物车*/
.my_btn{
      width:140px;height:50px;
      background: #dddddd;
      margin-right: 5px;
    }
    .my_btn1{
      width:140px;height:50px;
      background-image: url("../../img/product_detail_img7.png");
      background-repeat:no-repeat;
      background-position:15px center;
      
    }
    .my_btn2{
      width:80px;height:50px;
      background-image: url("../../img/product_detail_img6.png");
      background-repeat:no-repeat;
      background-position: center 5px;
      padding-bottom:5px;
      line-height:50px;
    }
.my_font1{
    font-size: 32px;
    font-weight: bold;
}
.my_w4{
    width:60px;
    height:60px;
}
a.item1::before{
    content:"<";
    color:#d6d8db;
    font-size:32px;
}
a.item3::before{
    content:">";
    color:#d6d8db;
    font-size:32px;
}
.my_w2{
    width:60px;
    height:60px;
    border:2px solid #007bff;
}
.my_font2:hover{
    text-decoration: none;
    color:#fdfdfe;
    margin-left:0px;
}
.my_w5{
    margin-left:280px;
}
#min,#add,input.bg-white{
    width:40px;height:40px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    border:1px solid #ddd;
    background-color:#ddd;
}
